.card {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: rgb(72, 142, 233);
    z-index: 3;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
  